aiobotocore
aiofiles
aiohttp
appdirs
async-generator
async-timeout
attrs
beautifulsoup4
botocore
certifi
chardet
docutils
entrypoints
fake-useragent
flake8
fuckcaptcha
idna
jmespath
mccabe
multidict
numpy
opencv-python
peewee
Pillow
psutil
pycodestyle
pydub
pyee
pyflakes
pyppeteer
pyppeteer-stealth
python-dateutil
PyYAML
requests
six
soupsieve
SpeechRecognition
tqdm
urllib3
user-agent
websockets
wrapt
yarl
